h1{
    color:  #9900ff;
}

.btn{
    background-color:  #9900ff;
    color: white;
}

.thead-custom{
    background-color:  #9900ff;
    color: white;
}

.btn-delete{ 
    background-color: red;
    color: white;
}

.btn-secondary{ 
    background-color:white;
    color: #9900ff;
}
.btn-secondary:hover{ 
    background-color:purple;
}