 #book_title, #book_author, #book_year{
     border-color:  #9900ff;
     border-width: thin;

 }

label{
    color:  #9900ff;
    font-weight: 500;
    font-size: medium;
    
 }

 input, button, select, optgroup, textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
     "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      color: #9900ff;
 }