.h3-custom{
    color: black;
    font-size: medium;
}

.link-custom{
    color : #9900ff;
}

.link-custom:hover{
    color: purple;
}

.link-delete{
    color: red;
}

.link-delete:hover{
    color :darkred;
}