.navbar-custom{
    background-color: #9900ff;
}

.navbar-custom .navbar-text {
    color: white;
    font-size: 26px;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.dropdown-item:hover{
    background-color: #9900ff;
    color: white;
}
